################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/AD Commander/bin/Debug/net10.0-windows
/AD Commander/obj
